# Ignore everything
*

# Allow notebook
!exam_bi_machine_learning.ipynb

# Allow data folder
!data/
!data/**

# Allow assignment folder
!assignment/
!assignment/**

# Allow gitignore itself
!.gitignore